<ion-content>

<div class="page-header" filter-color="blue" style="background-image:url(assets/img/med1.jpg)">
    <div class="page-header-image"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form (ngSubmit)="onLoggedin()">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/logo-sm.jpg" alt=""><br/><br/><br/><br/>
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text" class="form-control" placeholder="Username..." (focus)="focus=true" (blur)="focus=false" [(ngModel)]="username" name="username">
                      </div>
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                        </div>
                          <input type="password" placeholder="Password..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="password" name="password">
                      </div>
                    </div>
                    <div class="footer text-center">
                        <button type="button" class="btn btn-info btn-lg btn-block" (click)="login()">Login</button>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#" class="link" [routerLink]="['/forgot']">Forgot Password?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid text-center">
            <h6><small>
            {{ mydate | date: 'yyyy' }} &copy; Designed by International Electronics Services Ltd. Lagos, Nigeria
        </small></h6>
        </div>
    </footer>
  </div>
  <!-- <form>
    <ion-label>Username</ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>
    <ion-label>Password</ion-label>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button (click)="login()" expand="block">Login</ion-button>
    <ion-button expand="block" color="secondary" href="/forgot" routerDirection="forward">Forgot</ion-button>
  </form> -->
</ion-content>
