<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/members/dashboard']">
            <ion-icon slot="icon-only" name="arrow-back" style="color:#fff"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Create Appointment</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <button id="close-scanner-button" ion-button color="btn btn-default" (click)="CancelScan()">Cancel</button>
  <form *ngIf="isGotten">
      <div class="card">
        <div class="container">
            <p><b>Patient's Name: </b> {{details.lastName}}, {{details.firstName}}</p>
        </div>
          <div class="container" *ngIf="lastAppointment">
            <p><b>Last Appointment Date:</b> {{lastAppointment.appointmentDate | date : 'dd-MMM-yyyy'}}</p>
            <p><b>Service Type:</b> {{lastAppointment.serviceTypeName}}</p>
            <p><b>Service Kind:</b> {{lastAppointment.serviceKindName}}</p>
            <p><b>Status:</b> {{lastAppointment.statusDescription}}</p>
            <div class="right-side" *ngIf="lastAppointment.statusId !== 3">
              <button class="btn btn-success" type="button" (click)="ConfirmAppointment()">
                Confirm Appointment
              </button>
            </div>
          </div>
          <div class="container" *ngIf="!lastAppointment">
             <p>No previous appointment record for this patient</p>
          </div>
          <!-- <div class="container" *ngIf="lastAppointment && lastAppointment.statusId !== 3">
            <p>Sorry, you cannot create a new appointment until you confirm the previous appointment.</p>
            <p> Would you like to confirm the last appointment?</p>
            <div class="form-group">
                <select class="form-control" name="confirm" [(ngModel)]="confirm" (change)="ConfirmAppointment(lastAppointment.appointmentId)">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div> 
         </div> -->
        </div>
        <div *ngIf="(lastAppointment && lastAppointment.statusId === 3) || noAppointment">
        <div class="form-group">
          <label>Service Type for Today</label>
          <select class="form-control" name="serviceTypeId" [(ngModel)]="appointment.serviceTypeId" (change)="GetServiceKinds()">
              <option disabled="disabled">Select Service Type</option>
              <option *ngFor= "let item of serviceTypes" value="{{item.serviceTypeId}}">{{item.serviceTypeName}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="value === '1'" id="optionTypeDiv">
            <label>Option Type </label>
            <select class="form-control" name="optionType" [(ngModel)]="appointment.optionType">
                <option value="Family">Facility</option>
                <option value="Outreach">Outreach</option>
              </select>
          </div>
        <div class="form-group">
            <label>Service Kind for Today</label>
            <select class="form-control" name="serviceKindId" [(ngModel)]="appointment.serviceKindId" (change)="CalculateNextAppointmentDate()">
                <option disabled="disabled">Select Service Kind</option>
                <option *ngFor= "let item of serviceKinds" value="{{item.serviceKindId}}">{{item.serviceKindName}}</option>
              </select>
          </div>
          <div class="form-group" *ngIf="computeDate">
              <label id="nextAppointment">Your next appointment date is: {{nextDate | date: 'dd-MMM-yyyy'}}. Is this date okay?</label>
              <select class="form-control" name="option" [(ngModel)]="option">
                  <option value="">Select suitable option</option>
                 <option value="Yes">Yes</option>
                 <option value="No">No</option>
                </select>
            </div>
        <div class="form-group" *ngIf="option === 'No'">
          <label>Appointment Date </label> <input type="date" class="form-control" name="dob" [(ngModel)]="appointment.appointmentDate"/>
        </div>
    <div class="modal-footer">
      <div class="left-side">
        <button class="btn btn-default" type="button" [routerLink]="['/members/dashboard']">Cancel</button>
      </div>
      <div class="divider"></div>
      <div class="right-side">
        <button class="btn btn-success" type="button" (click)="CreateAppointment()">
          Submit
        </button>
      </div>
   
   
    </div>
  </div>
  </form>
</ion-content>
