<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button *ngIf="!defaulter" [routerLink]="['/members/pending-appointment']">
            <ion-icon slot="icon-only" name="arrow-back" style="color:#fff"></ion-icon>
          </ion-button>
          <ion-button *ngIf="defaulter" [routerLink]="['/members/defaulters']">
            <ion-icon slot="icon-only" name="arrow-back" style="color:#fff"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Defaulters For {{appointments.serviceTypeName}}</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <div class="card"  *ngFor="let item of appointments.appointments">
      <div class="container" >
        <p><b>Patient Name:</b> {{item.patientName}}</p>
        <p><b>Appointment Date:</b> {{item.appointmentDate | date: 'dd-MMM-yyyy'}}</p>
        <p><b>Settlement: </b>{{item.settlement}}</p>
        <p><b>Phone No:</b> {{item.phone}}
          <ion-icon slot="icon-only" name="call" *ngIf="defaulter" (click)="CallNumber(item.phone)" style="color:forestgreen; font-size:20px; float:right"></ion-icon></p>
      </div>
    </div>
  </ion-content>

